[core]
	autocrlf = false
[user]
	name = yuzb
	email = yuzb@appexnetworks.com
[receive]
    denyCurrentBranch = ignore
[alias]
	st = status
	ci = commit
	df = diff
	co = checkout
	br = branch
	lol = log --graph --pretty=format:'%Cred%h%Creset -%C(yellow)%d%Creset %s %Cgreen(%cr) %C(bold blue)<%an>%Creset' --abbrev-commit
[credential]
	helper = store
[color]
	diff = auto
	status = auto
[diff]
    tool = vimdiff #meld
[difftool]
    prompt = true
[push]
	default = simple
[core]
	editor = vim
